<div id="<%= dom_id joueur %>">
  <p>
    <strong>Photo:</strong>
    <%= joueur.photo %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= joueur.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= joueur.age %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= joueur.position %>
  </p>

  <p>
    <strong>Club:</strong>
    <%= joueur.club %>
  </p>

</div>
